#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th,
td {
  padding: 0.5em;
}

thead th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

th,
td {
  text-align: center;
}

tbody td {
  color: #333;
}

tbody tr {
  transition: background-color 0.1s;
}

@media (prefers-color-scheme: dark) {
  table {
    color: #f1f1f1;
    background-color: #333;
  }

  th,
  td {
    border-bottom: 1px solid #555;
  }

  thead th {
    background-color: #444;
    color: #f1f1f1;
  }

  tbody tr:nth-child(even) {
    background-color: #444;
  }

  tbody tr:hover {
    background-color: #555;
  }

  tbody td {
    color: #f1f1f1;
  }
}
